---
// src/components/shared/BrandLogo.astro
---
<a
    href="/"
    class="text-1xl font-semibold tracking-tight whitespace-nowrap"
>
  <span class="text-accent">&gt;_</span>
  <span class="ml-2 text-accent">andres</span><span>@dev</span>
</a>
