---
// src/components/home/Hero.astro

import { t, getLocale } from "i18n:astro";
import { getEntry } from "astro:content";

import { localizeHref } from "../../lib/utils";

import DownloadCV from "../shared/DownloadCV.astro"

import HeroTerminal from "./HeroTerminal.astro";
import HeroMetrics from "./HeroMetrics.astro";

const lang = getLocale();
const about = await getEntry("about", lang);
---

<section class="min-h-screen flex flex-col items-center">
  <div class="max-w-7xl mx-auto px-6 w-full grid md:grid-cols-2 gap-12 items-center">
    <div>
      <h1 class="mt-6 text-5xl md:text-7xl font-black leading-tight">
        {t("hero.title")}
      </h1>
      <p class="mt-8 max-w-3xl text-xl text-zinc-300">
        {t("hero.description")}
      </p>
      <div class="mt-8 flex gap-4">
        <a href={localizeHref("/projects", lang)} class="btn-primary mt-2">
          {t("hero.actions.viewProjects")}
        </a>
        <DownloadCV buttonLabel={t("hero.actions.downloadResume")} />
      </div>
    </div>
    <HeroTerminal entry={about} />
  </div>
  <HeroMetrics />
</section>
