---
// src/components/layout/HeaderBtn.astro

import { Image } from "astro:assets";

import type { HeaderBtnProps } from "../../types";

const { icon, alt } = Astro.props as HeaderBtnProps;
---

<button
  class="p-0 mr-1 rounded-full bg-accent hover:bg-accent active:bg-accent focus:outline-none focus:ring focus:ring-accent"
>
  <Image alt={alt} src={icon} width={15} loading="eager" class="text-gray-700 hover:text-black" />
</button>
