---
// src/components/layout/MobileMenuToggle.astro

interface Props {
  toggleId?: string;
}
const { toggleId = "mobile-nav-toggle" } = Astro.props as Props;
---

<input type="checkbox" id={toggleId} class="peer hidden" />

<label
  for={toggleId}
  aria-label="Open menu"
  class="lg:hidden ml-3 flex flex-col justify-center gap-1.5 w-8 h-8 cursor-pointer"
>
  <span class="block h-0.5 w-6 bg-zinc-200"></span>
  <span class="block h-0.5 w-6 bg-zinc-200"></span>
  <span class="block h-0.5 w-6 bg-zinc-200"></span>
</label>
