---
// src/components/home/Education.astro

import { t } from "i18n:astro";

import BadgeList from "../shared/BadgeList.astro";

const headers = t("education.headers").split(" ");

interface EducationEntry {
  title: string;
  url: string;
  tags: string;
  year: string;
}

const education: EducationEntry[] = [
  {
    title: t("education.description1"),
    url: "https://www.utp.edu.co/",
    tags: "Architecture,AI",
    year: "2025",
  },
  {
    title: t("education.description2"),
    url: "https://www.utp.edu.co/",
    tags: "Software,Engineering",
    year: "2023",
  },
  {
    title: t("education.description3"),
    url: "https://www.utp.edu.co/",
    tags: "Software,Engineering",
    year: "2021",
  },
  {
    title: "JavaScript Fullstack Developer",
    url: "https://platzi.com/p/AndresMpa/ruta/100-javascript-full-stack/diploma/detalle/",
    tags: "JavaScript,Backend",
    year: "2022",
  },
  {
    title: "Node.js Backend Developer",
    url: "https://platzi.com/p/AndresMpa/ruta/55-backend-javascript/diploma/detalle/",
    tags: "JavaScript,Backend",
    year: "2022",
  },
  {
    title: "Python for Data Science, AI & Development",
    url: "https://www.coursera.org/account/accomplishments/certificate/JCG8E2UP6ES8",
    tags: "Python,AI",
    year: "2022",
  },
  {
    title: "JavaScript Basics",
    url: "https://www.coursera.org/account/accomplishments/verify/49636X93ZJUP",
    tags: "JavaScript,Backend",
    year: "2022",
  },
];

function buildEntry(item: EducationEntry) {
  return [
    { type: "title", ref: false, border: true, context: item.title },
    { type: "reference", ref: true, border: false, context: item.url },
    { type: "chip", ref: false, border: false, context: item.tags },
    { type: "title", ref: false, border: true, context: item.year },
  ];
}

const entries = education.map(buildEntry);
---

<section id="education">
  <article class="flex flex-col items-start my-6 p-6 pr-12">
    <h3 class="text-4xl uppercase text-accent">
      {t("education.title")}
    </h3>
    <div class="mx-auto md:w-8/12 w-full">
      <div class="mx-auto overflow-x-auto">
        <BadgeList headers={headers} entries={entries} />
      </div>

      <div
        class="flex justify-center w-full text-accent text-center align-middle mb-6 mt-0 mx-auto"
      >
        <a
          class="p-2 mx-auto text-xl rounded-full font-semibold hover:bg-accent hover:text-text transition-colors duration-200"
          href="https://www.linkedin.com/in/andresmpa/details/certifications/"
          rel="noopener noreferrer"
          target="_blank"
        >
          {t("education.more")}
        </a>
      </div>
    </div>
  </article>
</section>
