---
// src/components/Greeter.astro
---

<section class="flex flex-col items-center justify-center min-h-screen">
  <article class="mt-[-40px]">
    <h1 class="text-6xl uppercase">Web, AI & FOSS Developer</h1>
  </article>
  <article class="flex justify-center mt-12 pb-60">
    <h2 class="text-2xl w-8/12 text-center">
      I&#39;m a software engineer focused on <strong
        class="text-bold text-accent hover:brightness-125 hover:drop-shadow-[0_0_5px_#0bc7c3] transition duration-300"
        >solving problems</strong
      > through
      <strong
        class="text-bold text-accent hover:brightness-125 hover:drop-shadow-[0_0_5px_#0bc7c3] transition duration-300"
        >top-of-the-edge technologies</strong
      >. I think out of code to <strong
        class="text-bold text-accent hover:brightness-125 hover:drop-shadow-[0_0_5px_#0bc7c3] transition duration-300"
        >focus on solutions</strong
      >
    </h2>
  </article>
</section>
