---
// src/components/Greeter.astro
---

<section
  class="flex flex-col items-center justify-center min-h-screen"
>
  <article class="mt-[-40px]">
    <h1 class="text-6xl uppercase">Web, AI & FOSS Developer</h1>
  </article>
  <article class="flex justify-center mt-12 mb-60">
    <h2 class="text-2xl w-8/12 text-center">
      I'm a software engineer focused on <strong class="text-accent"
        >solving problems</strong
      > through
      <strong class="text-accent">top-of-the-edge technologies</strong>. I think
      out of code to <strong class="text-accent">focus on solutions</strong>
    </h2>
  </article>
</section>
