---
import icon from "../assets/icon.svg";
import theme from "../assets/theme.svg";
import share from "../assets/share.svg";
import download from "../assets/download.svg";

import HeaderBtn from "./HeaderBtn.astro";
import LocaleSwitcher from "./LocaleSwitcher.astro";

const buttonData = [
  {
    icon: theme,
    alt: "Theme",
  },

  {
    icon: download,
    alt: "Download",
  },
  {
    icon: share,
    alt: "Share",
  },
];
---

<nav id="home" class="flex justify-between p-4">
  <img src={icon.src} alt={"Menu icon"} width={45} class="ml-2" /><img />

  <div class="flex items-center">
    <LocaleSwitcher />
    <!--
    {
      buttonData.map((data) => (
        <HeaderBtn icon={data.icon.src} alt={data.alt} />
      ))
    }
    -->
  </div>
</nav>
