---
// src/components/TableItem.astro
import link from "../assets/link.svg";
import Reference from "./Reference.astro";

interface Props {
  // TODO: Move to types
  type: "chip" | "reference" | "title";
  ref: boolean;
  bolder: boolean;
  context: string;
}

const { type, ref, bolder, context } = Astro.props;
---

<td class={type === "chip" ? "flex justify-center items-center h-24" : ""}>
  {
    type === "chip" ? (
      <>
        {context.split(",").map((text) => (
          <div class="bg-accent/30 text-accent text-sm text-center px-3 py-1 mx-2 rounded-full font-semibold hover:bg-accent hover:text-text transition-colors duration-200">
            {text}
          </div>
        ))}
      </>
    ) : (
      <div
        class={`${type === "title" ? "text-white font-bold" : ""} ${bolder ? "text-bold" : ""} p-6`}
      >
        {ref ? (
          <>
            <Reference
              icon={link}
              link={context}
              styledClass={`${type === "reference" ? "text-white/80 hover:text-accent relative transition-colors duration-200" : ""}`}
              alt={
                context
                  .replace(/(^\w+:|^)\/\//, "")
                  .replace(/^www\./, "")
                  .split("/")[0]
              }
              width={15}
              underline
              useAlt
            />
          </>
        ) : (
          <p>{context}</p>
        )}
      </div>
    )
  }
</td>
