---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <!--General metadata-->
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="I'm a software engineer focused on solving problems through top-of-the-edge technologies. I think out of code to focus on solutions"
    />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>

    <!--Favicon stuff-->
    <link rel="icon" href="/favicon.ico" />
    <meta name="theme-color" content="#09090d" />

    <!-- Open Graph Meta Tags -->
    <meta
      property="og:title"
      content="AndresMpa - FullStack Software Engineer"
    />
    <meta property="og:site_name" content="AndresMpa's Portfolio" />
    <meta property="og:url" content="https://andresmpa.github.io/portafolio/" />
    <meta
      property="og:description"
      content="I'm a software engineer focused on solving problems through top-of-the-edge technologies. I think out of code to focus on solution."
    />
    <meta property="og:type" content="profile" />
    <meta
      property="og:image"
      content="https://raw.githubusercontent.com/AndresMpa/portafolio/refs/heads/main/.doc/assets/favicon.png"
    />

    <!-- Twitter Card Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta
      name="twitter:title"
      content="AndresMpa - FullStack Software Engineer"
    />
    <meta
      name="twitter:description"
      content="I'm a software engineer focused on solving problems through top-of-the-edge technologies. I think out of code to focus on solution."
    />
    <meta
      name="twitter:url"
      content="https://andresmpa.github.io/portafolio/"
    />
    <meta
      name="twitter:image"
      content="https://raw.githubusercontent.com/AndresMpa/portafolio/refs/heads/main/.doc/assets/favicon.png"
    />
    <meta name="twitter:site" content="@AndresMpa" />
    <meta name="twitter:creator" content="@AndresMpa" />
  </head>
  <body class="bg-background text-text">
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style is:global>
</style>
